@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
